<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A cultural research about happiness in extreme conditions</h2>
                <hr class="light">
                <p class="text-faded">Can happiness on Mars be gained in the same way as on Earth?<br>
                    We lead a research about Mars on the pursuit of happiness according to different<br>
                    cultural perspectives on human conditions, identities, representations and objects.<br>
                Carlo Ivaldi & Federico Monaco</p>
                <a href="#services" class="btn btn-default btn-xl">check our methodology</a>
            </div>
        </div>
    </div>
</section>
