<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Methodology</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-circle-o wow bounceIn text-primary"></i>
                    <h3>practices</h3>
                    <p class="text-muted">Individual and collective</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-space-shuttle wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>factors</h3>
                    <p class="text-muted">environmental and human</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bolt wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>conditions</h3>
                    <p class="text-muted">harsh and extreme</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cubes wow bounceIn text-primary" data-wow-delay=".7s"></i>
                    <h3>matter</h3>
                    <p class="text-muted">converting and sharing</p>
                </div>
            </div>
        </div>
    </div>
</section>
